# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: merelybot

on:
  push:
    branches: [ master, beta ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Clone MerelyServices/Merely-Framework
      uses: actions/checkout@main
      with:
        repository: MerelyServices/Merely-Framework
        path: ./Merely-Framework
    - name: Clone yiays/ConfessionBot
      uses: actions/checkout@v2
      with:
        path: ./Merely-Framework/overlay
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r overlay/requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Audit babel coverage
      run: |
        python language_audit.py
    # - name: Test with pytest
    #   run: |
    #     python test.py
